
.adrds {
    background-color: "#17171e";
    margin-top: 100px;
}
.brdlistrds {
    margin-top: 100px;
}
.homerds {
    margin-top: 100px;
}
.ntcrds {
    margin-top: 100px;
}
.prvcrds {
    margin-top: 100px;
}
.qnards {
    margin-top: 100px;
}
.sugrds {
    margin-top: 100px;
}
.userds {
    margin-top: 100px;
}
.mprds {
    margin-top: 100px;
}
.logoutrds {
    margin-top: 100px;
}