.mainmenuds {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    background-color: #2b2b3b;
    position: fixed;
    outline: solid 1px white;
}

.footerds {
    height: 50px;
    width: 100%;
    background-color: #2b2b3b;
    color: rgb(205, 179, 230);
    position: flex;
    bottom: 0;
    outline: solid 1px white;
  }

.mainlogo {
    position: fixed;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color : rgb(205, 179, 230);
}

.mainmenubx {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    color : rgb(205, 179, 230);

    transform: translate(30%, 0);
}

.mypagebx {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    color : rgb(205, 179, 230);

    transform: translate(80%, 0);
}

.homeds {
    color: rgb(205, 179, 230);
    margin-left: 20px;
    margin-right: 20px;
}

.mpds {
    color: rgb(205, 179, 230);
    margin-left: 10px;
    margin-right: 10px;
}

.boardds {
    color: rgb(205, 179, 230);
    margin-left: 20px;
    margin-right: 20px;
}

.qnads {
    color: rgb(205, 179, 230);
    margin-left: 20px;
    margin-right: 20px;
}

.sugds {
    color: rgb(205, 179, 230);
    margin-left: 20px;
    margin-right: 20px;
}

.logoutds {
    color: rgb(205, 179, 230);
    margin-left: 10px;
    margin-right: 10px;
}

.loginds {
    color: rgb(205, 179, 230);
    margin-left: 10px;
    margin-right: 10px;
}